{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">

                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Авторизация</h3>
                    </div>
                    <div class="card-body">

                        <form action="{% url 'signin' %}" method="POST">
                            {% csrf_token %}

                            <div class="form-group">
                                <label class="small mb-1" for="username">Имя пользователя</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="password">Пароль</label>
                                {{ form.password }}
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <input class="btn btn-primary my-button" type="submit" value="Войти">
                            </div>

                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a href="{% url 'register' %}">Еще нет аккаунта? Зарегистрируйся!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}