

.main{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

.footer-links{
    color: white;
}


.footer-items{
    font-family: Roboto;
    background-color: #212529;
    color: white;
    font-size: 16px;
/*    overflow: hidden;*/
/*    display: flex;*/
    margin-top: auto;

}

#index-section{
    background-color: #eee;
}


.content-block{

}

nav{
    height: 60px;
    font-size: 20px;

}